{% extends 'home/home.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/student_details.css' %}">
    <h1>Student Details</h1>
    <p>University ID: {{ student.university_ID }}</p>
    <p>Name: {{ student.name }}</p>

    <h2>Student Details:</h2>

    <div class="course-details">
        
        <table>
          <thead>
    <tr>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Credit</th>
        <th>Same Level</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>EMX12122</td>
        <td>جبر خطي</td>
        <td>4</td>
        <td>T</td>
    </tr>
</tbody>
                <!-- Loop through course details to populate the table -->
                {% for course_detail in course_details %}
                    <tr>
                        <td>{{ course_detail.code }}</td>
                        <td>{{ course_detail.name }}</td>
                        <td>{{ course_detail.credit }}</td>
                        <td>{{ course_detail.same_level }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="report">
        <table>
            <thead>
                <tr>
                    <th>Completed Courses</th>
                    <th>Conditional Courses</th>
                    <th>Fail Courses</th>
                    <th>Remaining Courses</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul>
                            {% for course in student_details.1 %}
                                <li>{{ course }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for course in student_details.2 %}
                                <li>{{ course }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for course in student_details.3 %}
                                <li>{{ course }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for course in student_details.0 %}
                                <li>{{ course }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Include any other course-related details as needed -->
{% endblock %}
