{% extends 'home/home.html' %}
{% block content %}

    <h1>Students</h1>
    <div class="report-table-container">
        <table class="report-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>University Id</th>
                    <th>Name</th>
                    <th>Major</th>
                    <th>GPA</th>
                    <th>Level</th>
                    <th>Total Hours</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'student_details' student.university_ID %}">{{ student.university_ID }}</a></td>
                        <td><a href="{% url 'student_details' student.university_ID %}">{{ student.name }}</a></td>
                        <td>{{ student.major.name }}</td>
                        <td>{{ student.GPA }}</td>
                        <td>{{ student.level.level }}</td>
                        <td>{{ student.Hours_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>

{% endblock content %}