{% extends 'home/home.html'%}
{% block content%}
{% if course %}
<h1>{{course}} , {{course.name}}</h1>
<div class="report-table-container">
    <table class="report-table">
                    <th> # </th>
                    <th> ID </th>
                    <th>name</th>
                    <th>Major</th>  
                    <th> com hours</th>
                    <th> level </th>
                    <th>GPA</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students%}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{student.university_ID}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.major.name}}</td>
                    <td>{{student.Hours_count}}</td>
                    <td>{{student.level.level}}</td>
                    <td>{{student.GPA}}</td>

                    
                </tr>
                {%endfor%}
                <!-- Add more rows for other data -->
            </tbody>
        </table>
       
        <br>
        
    </div>
</div> 
</div>
{% else %}
<div class="add-excel-button">
    <input type="file" id="excelFileInput" accept=".xlsx" style="display: none;">
    <button class="btn btn-primary" onclick="document.getElementById('excelFileInput').click();">
        <i class="fas fa-file-excel"></i> Add Excel File history
    </button>

    <h1> students</h1>

    <div class="report-table-container">
        <table class="report-table">
                        <th> # </th>
                        <th>name</th>
                        <th>Major</th>
                 
                        <th>level</th>
                        <th> com hours</th>
                        <th> level </th>
                        <th>GPA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{student.university_ID}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.major.name}}</td>
                        <td>{{student.Hours_count}}</td>
                        <td>{{student.level.level}}</td>
                        <td>{{student.GPA}}</td>

                        
                    </tr>
                    {%endfor%}
                    <!-- Add more rows for other data -->
                </tbody>
            </table>
           
            <br>
            
        </div>
    </div> 
</div>
{% endif %}
{% endblock content%}
